@keyframes dashInAnimation {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes dashOutAnimation {
    0% {
      transform: scaleX(1);
    }
  
    100% {
      transform: scaleX(0);
    }
  }
  
  @keyframes dashLinkInAnimation {
    0% {
      transform: scaleX(0);
    }
  
    50% {
      transform: scaleX(1);
    }
  
    100% {
      transform: scaleX(0);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  
    30% {
      -webkit-transform: scale3d(1.25, .75, 1);
      transform: scale3d(1.25, .75, 1)
    }
  
    40% {
      -webkit-transform: scale3d(.75, 1.25, 1);
      transform: scale3d(.75, 1.25, 1)
    }
  
    50% {
      -webkit-transform: scale3d(1.15, .85, 1);
      transform: scale3d(1.15, .85, 1)
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1)
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1)
    }
  
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes backgroundAnimation{
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }
  @keyframes menuLink {
    0%{
      transform: scaleX(0);
    }
    100%{
      transform: scaleX(1);
    }
  }