@use 'variables' as variables;
@use 'animations' as animations;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  &::-webkit-scrollbar{
    display: none;
  }
}
html{
  height: -webkit-fill-available;
}


section{
  min-height: 100vh;
}


.App{
  background-image: linear-gradient(45deg,
    #000,
    #2b2b2b,
    #000,
  );

}


.topbar {
  height: 70px;
  background-color: #000;
}

.wrapperLoader {
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100;
}
.wrapperMenu{
  background-color: rgba(0, 0, 0, 0.116);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  backdrop-filter: blur(4px);

}


.animation-rubberband {
  animation: rubberBand .8s ease-in-out;
  display: inline-block;
  color: variables.$mainColor;
}

.animate {
  transition: variables.$transition;
}
.animateCardWork{
  animation: bounce 2s  infinite;
}
/* From uiverse.io by @Fcodingx */
.cardWork {
  width: 190px;
  height: 120px;
  padding: 0.5rem ;
  background: variables.$backgroundTransparent;
  border-radius: variables.$borderRadius;
  backdrop-filter: variables.$blur;
  border-bottom: variables.$backgroundTransparent;
  border-left: variables.$backgroundTransparent outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
  margin: 0;

  &:hover {
    height: 318px;
    transform: skew(0deg);
    animation: none;
  }

  h2 {
    margin-bottom: 1.2rem;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;

    $circlesCardWork: ("red": #ff605c, "yellow": #ffbd44, "green": #00ca4e, );

    @each $colorName,
    $color in $circlesCardWork {
      .#{$colorName} {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
      }
    }
  }

  .workLink {
    color: #fff;
    text-decoration: none;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
    // transition: all .4s ease;
    transition: all .8s ease-in-out;

    position: relative;
    width: fit-content;

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -4px;
      left: 0;
      background-color: variables.$mainColor;
      transition: all .4s ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover{
      &::after{
      transform: scaleX(1);
      }
    }
  }
}

form {
  .customInput {
    background-color: #000;
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      width: 110%;
      aspect-ratio: 1;
      margin: auto;
      z-index: -1;
      animation: rotate 2s linear infinite;
      background-image: conic-gradient(transparent 0deg,
          red 90deg,
          transparent 91deg,
        );
    }

    input {
      width: 100%;
      height: 60px;
      color: #fff;
      border: none;
      padding: 20px;
      margin: 0 0 4px 0;
      outline: 5px solid #000;
      background-color: #000;

      &:focus {
        outline: none;
      }

      &:not(:placeholder-shown) {
        &:valid {
          outline: 5px solid variables.$mainColor;
          border-radius: 0;
        }
      }

    }

    textarea {
      width: 100%;
      min-height: 200px;
      max-height: 500px;
      padding: 20px;
      margin: 0 0 4px 0;
      color: #fff;
      border: none;
      outline: 5px solid #000;
      background-color: #000;

      &::-webkit-resizer {
        display: none;
      }

      &:focus {
        outline: none
      }

      &:not(:placeholder-shown) {
        outline: 4px solid variables.$mainColor;
        border-radius: 0;
      }

    }
  }

  button {
      padding: 12px 30px;
      color: #000;
      border: none;
      background-color: variables.$mainColor;
    &:disabled {
      background-color: variables.$backgroundTransparent;
      opacity: 0.8;
      border: none;
    }
  }
}
.aside-contact{
  background: linear-gradient(to right, #0000009e, #0000009e), 
  url('https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80');
  background-size: cover;
  background-position: center;

}


.animated-workLink {

  color: rgb(210, 210, 210) !important;
  &::before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -4px;
    background-color: variables.$mainColor;
    transition: all .5s ease-in;
    animation: dashLinkInAnimation .8s ease-in-out forwards;
    transform-origin: left;
  }
}



@media (hover: none) {
  .cardWork {
    height: 318px;
    transform: skew(0);
  }
}

@media screen and (max-width: 768px) {
  .cardWork {
    height: 318px;
    transform: skew(0);
  }
}